.grid-item-footer h6 {
    /* position: relative; */
    /* border: 2px solid red; */
    /* bottom:0px; */
    
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 19rem);
    grid-template-rows: auto;
    place-content: center;
    // justify-content: space-evenly;
    // place-items: center;
    // grid-template-columns: auto auto auto;
    max-width: 90vw;
    margin: auto;
    // text-align: justify;
    // border:2px solid red;
    // background-color: rgba(76, 175, 80, 0.1);
    opacity: 0.5;
    
    padding: 10px;
  }
  
  .grid-item {
    position:relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    min-height: 35vh;    
  }
  
  
  
  .button {
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    background: palevioletred;
    color: var(--clr-primary-100);
    font-size: 1.5rem;
  
    border-radius: 100vmax;
  }
  
  .grid-item a {
    text-decoration: none;
  }
  

.grid-item-footer {
    position: absolute;
    text-align: center;
    bottom:-30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
}

.grid-item .description {
    position: relative;
    font-size:15px;
    color: black
}

.badge::before  {
    position: absolute;

    top: 2rem;
    right: -0.75rem;
    content: '';
    background: #283539;
    background: white;
    color: white;
    text-align: center;
    height: 30px;
    width:28px;
    transform: rotate(45deg);
    z-index: 10;
}

.badge::after{
  z-index: 999;
    position: absolute;
    content: attr(data-label);
    top: 5px;
    right: -17.5px;
    padding: 0.5rem;
    width: 10rem;
    background: #3949ab;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26,35,126);
    z-index: 600;
}

.grid-item h3 {
  color: rgba(160, 3, 203, 0.801);
}

.grid-item h6 {
  color:gray;
}