.text-capitalize {
    padding: 1% 0% 1% 0%;
    text-transform: uppercase;
    font-weight: bold;
    /* border: 1px solid red; */
}

.text-muted {
  font-size:medium;
}



    .image-container {
      position: relative;
      text-align: center;
      color: white;
    }
    
    
    .mid-left {
      position: absolute;
      top: 20vh;
      left: 25vw;
      transform: rotate(-30deg);
      font-size: 4vw;
      font-weight: 1500;
      color: black;

    }
    