h2 {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
               glow 2500ms linear infinite 2000ms;
  
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 8px #fff;
      }
    }
  }


  .typed-out {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    font-size: 3vw;
    width: 0;
  
    animation: typing 2s steps(20, end) forwards, blink 0.8s infinite,
      blinking 1.2s infinite;
  }
  
  .container {
    display: inline-block;
    border: 1px solid;
    box-shadow: 5px 10px;
  }
  
  .fade-in-image { 
    animation: fadeIn 10s;
   }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blinking {
    from {
      border-color: transparent;
    }
    to {
      border-color: green;
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }