.footer {
    position:fixed;
    bottom: 50px;
    padding: 0px 100px 0 100px;
}

.inline-portofolio {
    font-size: 1.15rem;
    }
    

    /* TODO: fix inline  elements padding to be dynamically calculated based on a MIX and MAX number of elements*/
.inline-portofolio-icon {
    color: white;
    padding: 0 2vw 0 2vw;
}

.grid-item-footer h6 {
    font-size: 0.9rem;
}